<div class="container my-3">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <img src="/images/books/book{{product.id}}.jpg" class="img-fluid">
                </div>
                <div class="my-4">
                    <div class="book-price pull-left">${{product.price}}</div>
                    <button type='submit' class="btn btn-success pull-right btn-cart-add">
                        Add to cart
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <h3 class="my-3">{{product.name}}</h3>
                <p>{{product.summary}}</p>
                <h3 class="my-3">Book details</h3>
                <p>{{product.description}}</p>
            </div>
        </div>
    </div>
    {{!-- <div class="container-my-3">
        <h3>Comments</h3>
        <div id="comments">
            <div class="row mx-1 mb-2 p-2 bg-light border-success" style="border-left:6px solid; border-radius:3px">
                <div class="col-10">
                    <p class="text-justify">6/29/2020, 7:10:10 AM - Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row mx-1 mb-2 p-2 bg-light border-success" style="border-left:6px solid; border-radius:3px">
                <div class="col-10">
                    <p class="text-justify">6/29/2020, 7:10:10 AM - Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row mx-1 mb-2 p-2 bg-light border-success" style="border-left:6px solid; border-radius:3px">
                <div class="col-10">
                    <p class="text-justify">6/29/2020, 7:10:10 AM - Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row mx-1 mb-2 p-2 bg-light border-success" style="border-left:6px solid; border-radius:3px">
                <div class="col-10">
                    <p class="text-justify">6/29/2020, 7:10:10 AM - Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row mx-1 mb-2 p-2 bg-light border-success" style="border-left:6px solid; border-radius:3px">
                <div class="col-10">
                    <p class="text-justify">6/29/2020, 7:10:10 AM - Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <nav class="text-center" aria-label="Page navigation example">
                <ul class="pagination pagination-sm"><li class="disabled"><a href="?page=1">&lt;</a></li><li class="active"><a href="?page=1">1</a></li><li><a href="?page=2">2</a></li><li><a href="?page=2">&gt;</a></li></ul>
            </nav>
        </div> --}}
        
    </div>